<div class="sidebar">
    <div class="p-5 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
        <div class="title">
        FarPhones
        <br> <br> <br> <br>
        <!-- Maybe put all these buttons in their own div to make them aligned to the center -->
        <button class="btn btn-outline-primary btn-lg">Directory</button> <br> <br> <br> <br>
        <button class="btn btn-outline-primary btn-lg">Form</button> <br> <br> <br> <br>
        <button class="btn btn-outline-primary btn-lg">About Us</button> <br>
        </div> 
    </div>
</div>   
   