<div class="sidebar">
  <link
    href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
    rel="stylesheet"
  />
  <div class="sidebar-title" routerLink="">FarPhones</div>
  <div class="sidebar-buttons">
    <button
      class="sidebar-btn btn btn-outline-light btn-lg"
      routerLink="/directory"
    >
      Directory
    </button>
    <button class="sidebar-btn btn btn-outline-light btn-lg" routerLink="/add">
      Form
    </button>
    <button
      class="sidebar-btn btn btn-outline-light btn-lg"
      routerLink="/aboutus"
    >
      About Us
    </button>
  </div>
  <div class="sidebar-footer">&copy; 2025 FarPhones</div>
</div>
