<div class="main-content">
  <div class="directory-container">
    <h2 class="header">Directory</h2>
    <div class="tiles-container">
      @for(user of users; track user.id;)
      {
        <div class="card">
          <h4>{{user.fullName}}</h4>
          <p>{{user.email}}</p>
          <p>{{user.phoneNumber}}</p>
          <p>{{user.role}}</p>
          <p>{{user.description}}</p>
          <!-- TODO: Needs formatting,
           probably bottom left corner then bottom right corner -->

           <!-- There is an issue with passing the user.id to the routerLink. The user.id is a string and I'm not sure the routing works with string values -->
          <button class="btn btn-outline-primary btn-sm" id="edit-btn" [routerLink]="['user', user.id]">Edit</button> <br>
          <button class="btn btn-outline-danger btn-sm" id="delete-btn" (click)="delete(user.id)">Delete</button>
        </div>
      }
      <!-- <div class="card">
        <h4>Jane Doe</h4>
        <p>Email: jane</p>
        <p>Phone: (555)</p>
        <p>Role: Business</p>
        <p>Description: Sell dolls</p>
      </div>
      <div class="card">
        <h4>John Smith</h4>
        <p>Email: john</p>
        <p>Phone: (555)</p>
        <p>Role: Resident</p>
      </div> -->
      <!--ADD MORE-->
      <!-- <div class="card">
        <h4>Mike Toq</h4>
        <p>Email: mike</p>
        <p>Phone: (701)</p>
        <p>Role: Resident</p>
      </div>
      <div class="card">
        <h4>Reece brei</h4>
        <p>Email: brei</p>
        <p>Phone: (218)</p>
        <p>Role: Resident</p>
      </div> -->
    </div>
  </div>
</div>
