<div class="main-content">
  <div class="directory-container">
    <h2 class="header">Directory</h2>
    <!--EXAMPLE CARDS (WILL CHANGE LATER AFTER LEARNING DJANGO)-->
    <div class="tiles-container">
      <div class="card">
        <h4>Jane Doe</h4>
        <p>Email: jane</p>
        <p>Phone: (555)</p>
        <p>Role: Business</p>
        <p>Description: Sell dolls</p>
      </div>

      <div class="card">
        <h4>John Smith</h4>
        <p>Email: john</p>
        <p>Phone: (555)</p>
        <p>Role: Resident</p>
      </div>
      <!--ADD MORE-->
      <div class="card">
        <h4>Mike Toq</h4>
        <p>Email: mike</p>
        <p>Phone: (701)</p>
        <p>Role: Resident</p>
      </div>
      <div class="card">
        <h4>Reece brei</h4>
        <p>Email: brei</p>
        <p>Phone: (218)</p>
        <p>Role: Resident</p>
      </div>
    </div>
  </div>
</div>
