<div class="landing">
  <img
    src="FargoSkyline.jpg"
    class="img-fluid w-100"
    style="height: 100vh; object-fit: cover"
    alt="Full Width Image"
  />
  <div
    class="position-absolute text-center"
    style="top: 25%; left: 45%; transform: translate(-50%, -50%); color: white"
  >
    <h1 style="font-size: 4rem; font-family: landingfont">
      You know who to call.
    </h1>
  </div>
</div>
<div class="main-content">
  <div class="form-container">
    <h2 class="header">Home Page</h2>
  </div>
</div>
